/* Course and Sub-Course Buttons with Scrollable Container */
.course-page .course-buttons,
.course-page .sub-course-buttons {
  width: 90%;
  max-height: 250px; /* تعيين الحد الأقصى لارتفاع الحاوية */
  overflow-y: auto; /* إظهار شريط التمرير العمودي عند الحاجة */
  display: flex; /* استخدام flexbox لتنظيم الأزرار */
  flex-direction: row; /* عرض الأزرار في صف */
  justify-content: center; /* توسيط الأزرار أفقياً */
  align-items: center; /* توسيط الأزرار عمودياً */
  gap: 10px; /* الفجوة بين الأزرار */
  flex-wrap: wrap; /* لف الأزرار إلى صفوف عند الحاجة */
  margin-bottom: 20px; /* مسافة سفلية بين الحاوية وعناصر أخرى */
  border: 1px solid #ccc; /* حدود للحاوية */
  padding: 10px; /* مسافة داخلية للحاوية */
  background-color: #f9f9f9; /* لون خلفية خفيف للحاوية */
  border-radius: 8px; /* زوايا مدورة للحاوية */
  transition: background-color 0.3s ease; /* إضافة تأثير انتقالي للخلفية */
}
.course-page button {
  margin-left: 20px;
  padding: 12px 18px; /* زيادة المساحة لجعل الزر أكثر راحة */
  background-color: #ffffff; /* لون الخلفية للأزرار */
  color: #094d50; /* لون النص */
  border: 1px solid #094d509a; /* تحديد لون الحدود وسماكتها */
  border-radius: 4px; /* زوايا مدورة */
  cursor: pointer; /* شكل المؤشر عند المرور على الزر */
  width: 45%; /* تأكد من أن الأزرار تأخذ عرض تلقائي */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s; /* إضافة تأثيرات انتقالية */

  /* تأثيرات عند التحويم */
  &:hover {
    background-color: #094d50; /* تغيير لون الخلفية عند التحويم */
    color: #ffffff; /* تغيير لون النص عند التحويم */
    transform: translateY(-2px); /* رفع خفيف عند التحويم */
  }

  /* تأثير عند الضغط على الزر */
  &:active {
    transform: translateY(1px); /* تأثير ضغط عند الضغط */
  }
}

/* Title Styles */
.course-page h1 {
  color: #000000;
  font-size: 30px;
  margin-top: 80px;
}

.course-page h2,
.course-page h3,
.course-page h4 {
  margin-bottom: 20px;
  color: #094d50; /* لون النص */
}

.course-page h2 {
  font-size: 24px; /* حجم النص */
  border-bottom: 2px solid #094d50; /* خط */
  padding-bottom: 8px; /* المسافة بين النص والخط */
  transition: color 0.3s ease, border-bottom 0.3s ease; /* تأثير انتقال سلس */
}

.course-page h3 {
  font-size: 18px;
}

.course-page h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Input Fields */
.course-page input[type="text"],
.course-page textarea {
  width: 90%;
  padding: 12px; /* زيادة المساحة داخل حقول الإدخال */
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s; /* Transition for focus effect */
}

.course-page textarea {
  height: 100px;
  resize: vertical;
}

/* Input Focus Effect */
.course-page input[type="text"]:focus,
.course-page textarea:focus {
  border-color: #0ea1a8;
  outline: none;
  box-shadow: 0 0 8px #0ea1a8; /* More noticeable shadow effect on focus */
}

/* Course and Sub-Course Buttons Styling */
.course-page .course-buttons button.selected,
.course-page .sub-course-buttons button.selected {
  width: 25%;
  background-color: #ffffff; /* لون الخلفية عند التحديد */
  color: #094d50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف */
}

.course-page .course-buttons button.selected:hover,
.course-page .sub-course-buttons button.selected:hover {
  background-color: #d1d3cb; /* لون الخلفية عند التحويم مع التحديد */
  color: #2ba9af;
}

/* Button Focus Effect */
.course-page button:focus {
  background-color: #ffffff; /* Highlight selected buttons */
  color: #094d50;
}

/* Button Active Effect */
.course-page button:active {
  background-color: #ffffff; /* لون الزر عند الضغط */
  transform: translateY(1px); /* تأثير الضغط لأسفل */
}

/* Error Message Styles */
.course-page .error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Details and Summary Styles */
.course-page details {
  margin-bottom: 20px;
}

.course-page summary {
  border: 1px solid #094d50;
  background-color: #094d50;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s; /* تأثير انتقال للخلفية */
}

.course-page details[open] summary {
  margin-bottom: 20px;
}

/* Course and Sub-Course Selectors */
.course-page .course-selectors {
  display: flex;
  justify-content: space-between; /* توزيع المساحة بين الأقسام */
  margin-top: 20px;
}

/* Media Section Styles */
.media-and-questions {
  margin-left: 11px;
}

.add-course,
.add-sub-course {
  flex: 1; /* كل قسم يأخذ نفس المساحة */
  margin: 0 10px; /* مساحة بين الأقسام */
  padding: 20px;
  border: 1px solid #ccc; /* حدود للأقسام */
  border-radius: 8px; /* زوايا مدورة */
  background-color: #f9f9f9; /* خلفية خفيفة */
  transition: background-color 0.3s; /* تأثير انتقالي لخلفية الأقسام */
}

.add-course:hover,
.add-sub-course:hover {
  background-color: #eaeaea; /* تغيير لون الخلفية عند التحويم */
}

.course-selection-container {
  border: 1px solid #ccc; /* حدود الحاوية */
  border-radius: 8px; /* زوايا مدورة */
  padding: 15px; /* مسافة داخلية للحاوية */
  background-color: #f9f9f9; /* لون خلفية خفيف */
  margin: 10px 0; /* مسافة أعلى وأسفل */
}

.sub-course-item {
  width: 100%;
  display: flex;
  border: 1px solid #ccc; /* حدود */
  border-radius: 4px; /* زوايا مدورة */
  margin-bottom: 5px; /* مسافة بين العناصر */
  background-color: #f9f9f9; /* خلفية خفيفة */
}

.course-selection {
  display: flex; /* استخدم flexbox لترتيب العناصر بجانب بعضها */
  justify-content: space-between; /* لضبط المساحة بين العناصر */
  align-items: center; /* لمركز العناصر عموديًا */
  margin-bottom: 20px; /* إضافة مسافة أسفل لتفادي تداخل العناصر */
}

.course-dropdown {
  flex: 1; /* كل مجموعة تأخذ نفس المساحة */
  margin: 0 10px; /* مساحة بين المجموعات */
}

.dropdown {
  width: 100%; /* تأكد من أن قائمة dropdown تأخذ العرض الكامل */
  padding: 12px; /* زيادة المساحة داخل قائمة الاختيار */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s; /* Transition for focus effect */
}

/* Focus Styles for Dropdown */
.dropdown:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Disabled Dropdown Styles */
.dropdown:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

/* Dropdown Options Padding */
.dropdown option {
  padding: 10px;
}

/* Media Section Images and Links */
.course-page .media-section img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.course-page .media-section video {
  display: block;
  margin-bottom: 10px;
}

.course-page .media-section a {
  color: #094d50;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: color 0.3s; /* تأثير انتقالي على اللون */
}

.course-page .media-section a:hover {
  text-decoration: underline;
  color: #007bff; /* تغيير لون النص عند التحويم */
}

/* Questions Section Styles */
.course-page .question-section {
  margin-bottom: 20px;
}

.course-page .answers-section {
  margin-top: 10px;
}

.course-page .answers-section div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.answers-section input[type="checkbox"] {
  margin-right: 10px;
}

/* Questions List Styles */
.questions-list {
  h3 {
    margin-bottom: 20px; /* مساحة أسفل العنوان */
    font-size: 24px; /* حجم خط العنوان */
  }

  .question-item {
    margin-bottom: 30px; /* مساحة بين كل سؤال وآخر */
    padding: 15px; /* إضافة مساحة داخل كل سؤال */
    border: 1px solid #ced4da; /* لون الحدود */
    border-radius: 8px; /* زوايا مدورة للحدود */
    background-color: #f8f9fa; /* لون خلفية فاتح */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* تأثير ظل خفيف */

    h4 {
      margin: 0 0 10px; /* مساحة أسفل عنوان السؤال */
      font-size: 20px; /* حجم خط السؤال */
    }

    ul {
      list-style-type: none; /* إزالة النقاط من القائمة */
      padding: 0; /* إزالة الحشوة من القائمة */

      .answer-item {
        border: 1px solid #ced4da; /* لون الحدود لكل إجابة */
        border-radius: 4px; /* زوايا مدورة للحدود */
        padding: 10px; /* مساحة داخل كل إجابة */
        margin-bottom: 10px; /* مساحة بين كل إجابة وأخرى */
        background-color: #ffffff; /* لون خلفية الإجابة */

        /* تأثير عند التحويم */
        &:hover {
          background-color: #e9ecef; /* تغيير لون الخلفية عند التحويم */
        }
      }
    }

    button {
      border: 1px solid #094d50ab;

      margin-top: 10px; /* مساحة فوق الأزرار */
      margin-right: 10px; /* مساحة بين الأزرار */
      padding: 10px 15px; /* إضافة مساحة داخل الأزرار */
      border-radius: 4px; /* زوايا مدورة */
      cursor: pointer; /* شكل المؤشر عند المرور على الزر */
      transition: background-color 0.3s ease; /* إضافة تأثيرات انتقالية */

      /* تأثير عند التحويم */
      &:hover {
        background-color: #f0f0f0; /* تغيير لون الخلفية عند التحويم */
      }
    }
  }
}

.course-page .question-item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s; /* تأثير انتقالي على الخلفية */
}

.course-page .question-item:hover {
  background-color: #eaeaea; /* تغيير الخلفية عند التحويم */
}

.course-page .question-item h4 {
  margin: 0;
}

.course-page .question-item ul {
  padding-left: 20px;
}

.course-page .question-item .answer-item {
  margin-bottom: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .course-page button {
    width: auto; /* الأزرار تأخذ عرض تلقائي في الشاشات الصغيرة */
  }

  .course-page .section-container .section {
    width: 100%; /* عند الشاشات الصغيرة، يأخذ كل قسم العرض الكامل */
  }
}

/* Container for Sections */
.course-page .section-container {
  display: flex;
  flex-wrap: wrap; /* للتأكد من التداخل بشكل جيد في الشاشات الصغيرة */
  justify-content: space-between;
}

/* Each Section */
.course-page .section-container .section {
  width: 48%; /* كل قسم يأخذ تقريباً نصف العرض مع مساحة صغيرة بين الأقسام */
  box-sizing: border-box; /* لتجنب مشاكل المسافات والحدود */
  margin-bottom: 20px; /* مسافة بين الأقسام */
}

/* Course Media Container */
.course-media-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* المسافة بين العناصر */
}

.media-section {
  display: flex;
  flex-direction: column;
  gap: 20px; /* المسافة بين العناصر داخل قسم الوسائط */
}

.images-container,
.videos-container {
  display: flex;
  flex-wrap: wrap; /* يسمح بلف العناصر عندما تكون كبيرة جداً */
  gap: 10px; /* المسافة بين العناصر */
  margin: 10px 0;
}

.image-item,
.video-item {
  border: 1px solid #ccc; /* إطار للمربعات */
  border-radius: 8px; /* زوايا دائرية */
  padding: 10px; /* مساحة داخلية */
  width: fit-content; /* عرض ثابت للمربعات */
  text-align: center; /* توسيط المحتوى */
  transition: transform 0.3s; /* تأثير انتقالي على الحجم */
}

.image-item:hover,
.video-item:hover {
  transform: scale(1.05); /* تأثير تكبير خفيف عند التحويم */
}

.image-item img {
  max-width: 100%; /* يجعل الصورة تتناسب مع عرض المربع */
  height: auto; /* يحافظ على نسبة الطول إلى العرض */
}

.video-item video {
  max-width: 100%; /* يجعل الفيديو يتناسب مع عرض المربع */
  height: auto; /* يحافظ على نسبة الطول إلى العرض */
}

/* General Course Button */
.course-button {
  background-color: #007bff; /* لون الخلفية */
  color: white; /* لون النص */
  border: none; /* إزالة الحدود */
  padding: 10px 15px; /* هوامش الزر */
  margin: 5px; /* المسافة بين الأزرار */
  cursor: pointer; /* شكل المؤشر عند المرور على الزر */
  border-radius: 5px; /* زوايا دائرية */
  transition: background-color 0.3s, transform 0.2s; /* تأثير انتقال لون الخلفية */
}

.course-button:hover {
  background-color: #0056b3; /* لون الخلفية عند المرور */
  transform: translateY(-2px); /* تأثير الرفع عند التحويم */
}

/* Delete Button */
.delete-button {
  background-color: #dc3545; /* لون الخلفية لزر الحذف */
  color: white; /* لون النص */
  border: none; /* إزالة الحدود */
  padding: 10px 15px; /* هوامش الزر */
  margin-top: 10px; /* مسافة أعلى زر الحذف */
  cursor: pointer; /* شكل المؤشر عند المرور على الزر */
  border-radius: 5px; /* زوايا دائرية */
  transition: background-color 0.3s, transform 0.2s; /* تأثير انتقال لون الخلفية */
}

.delete-button:hover {
  background-color: #c82333; /* لون الخلفية عند المرور */
  transform: translateY(-2px); /* تأثير الرفع عند التحويم */
}
.button-container {
  display: flex; /* استخدام flexbox لتوسيع العنصر */
  justify-content: center; /* محاذاة المحتوى إلى الوسط أفقيًا */
  align-items: center; /* محاذاة المحتوى إلى الوسط عموديًا */
}

button {
  background-color: #16979e; /* لون الخلفية للزر */
  color: #ffffff; /* لون نص الزر */
  border: none; /* إزالة الحدود */
  border-radius: 4px; /* زوايا مدورة */
  cursor: pointer; /* شكل المؤشر عند المرور على الزر */
  transition: background-color 0.3s ease, transform 0.2s; /* إضافة تأثيرات انتقالية */
  font-size: 16px; /* حجم خط الزر */

  /* تأثير عند التحويم */
  &:hover {
    background-color: #5a6268; /* تغيير لون الخلفية عند التحويم */
    transform: translateY(-2px); /* تأثير رفع خفيف عند التحويم */
  }

  /* تأثير عند الضغط */
  &:active {
    transform: translateY(1px); /* تأثير ضغط عند الضغط */
  }

  /* تقييد الزر عند عدم تحديد الدورة الفرعية */
  &:disabled {
    background-color: #ccc; /* لون خلفية للزر عند التعطيل */
    cursor: not-allowed; /* تغيير شكل المؤشر عند التعطيل */
  }
}
.question-answers-container {
  background-color: #f9f9f9; /* لون خلفية فاتح للحاوية */
  padding: 20px; /* مساحة داخلية حول المحتوى */
  border: 1px solid #ddd; /* لون حدود خفيف */
  border-radius: 8px; /* زوايا مدورة */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* تأثير ظل لطيف */
  margin-bottom: 20px; /* مساحة سفلية بين الحاويات */
}

.question-section {
  margin-bottom: 15px; /* مساحة سفلية بين قسم الأسئلة وقسم الإجابات */
}

.answers-section {
  margin-top: 15px; /* مساحة علوية بين عنوان الإجابات والمحتوى */
}

h2,
h3 {
  color: #094d50; /* لون النص */
  margin-bottom: 10px; /* مساحة سفلية بين العناوين والمحتوى */
}

button {
  margin-top: 10px; /* مساحة علوية للأزرار */
  padding: 8px 12px; /* مساحة داخلية للأزرار */
  background-color: #ffffff; /* لون الخلفية للأزرار */
  color: #094d50; /* لون النص للأزرار */
  border: 1px solid #094d50; /* لون حدود للأزرار */
  border-radius: 4px; /* زوايا مدورة للأزرار */
  cursor: pointer; /* شكل المؤشر عند المرور على الزر */
  transition: background-color 0.3s ease, color 0.3s ease; /* تأثيرات انتقالية */

  &:hover {
    background-color: #094d50; /* لون خلفية عند المرور على الزر */
    color: #ffffff; /* لون نص عند المرور على الزر */
  }
}
/* تنسيق الحاوية للأزرار */
.question-answers-container {
  .question-section,
  .answers-section {
    margin-bottom: 15px; /* مساحة سفلية بين الأقسام */
  }

  button {
    margin-top: 10px; /* مساحة علوية للأزرار */
    padding: 8px 12px; /* مساحة داخلية للأزرار */
    background-color: #ffffff; /* لون الخلفية */
    color: #094d50; /* لون النص */
    border: none; /* إزالة الحدود */
    border-radius: 4px; /* زوايا مدورة */
    cursor: pointer; /* شكل المؤشر عند المرور على الزر */
    transition: background-color 0.3s ease; /* تأثيرات انتقالية */

    &:hover {
      background-color: #094d50; /* لون خلفية عند المرور على الزر */
    }

    &:disabled {
      background-color: #ccc; /* لون خلفية للأزرار المعطلة */
      color: #666; /* لون نص للأزرار المعطلة */
      cursor: not-allowed; /* شكل المؤشر للأزرار المعطلة */
    }
  }
}
