/* تصميم عام للجدول */
table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* لون الخلفية للسطر الفردي */
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* لون الخلفية للسطر عند التمرير */
tr:hover {
  background-color: #f1f1f1;
}

/* تحسين عرض الصور */
.thumbnail {
  width: 100px;
  height: auto;
}

/* تحسين زر التصدير */
button {
  background-color: #094d50;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0e7075;
}

/* تحسين حقل البحث */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* تحسين عرض التفاصيل */
summary {
  width: 90%;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}
