body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border-radius: 30px;
  margin: 2rem auto;
  text-align: left;
  width: 100%;
  max-width: 1800px; /* تعيين عرض أقصى للحاوية */
  padding: 1rem;
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
  padding: 0;
  text-align: left;
}

h1 {
  margin-bottom: 2rem;
  padding-top: 3rem;
  font-size: 2rem; /* حجم خط نسبي */
}

h2 {
  padding-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.course-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1rem;
}

.task-card {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.task-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.task-card p {
  margin: 10px 0;
  color: #333;
  font-size: 1rem; /* حجم خط نسبي */
}

.task-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.course-card {
  border-radius: 28px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 440px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  flex-shrink: 0;
}

.course-card:hover {
  background-color: #e0e0e0;
}

.course-card img {
  border-radius: 28px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.course-card h3 {
  padding-top: 1rem;
  margin: 0;
  font-size: 1.2rem;
  width: 100%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.close {
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
}

/* استعلامات الوسائط للشاشات الصغيرة */
@media (max-width: 768px) {
  .container {
    margin: 1rem;
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  .task-card {
    padding: 1rem;
  }

  .course-card {
    max-width: 100%;
    height: auto;
  }
}

/* استعلامات الوسائط للهواتف المحمولة */
@media (max-width: 480px) {
  .container {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  h2 {
    font-size: 1rem;
    padding-top: 0.5rem;
  }

  .task-card {
    padding: 0.5rem;
  }

  .course-card {
    width: 100%;
    height: auto;
  }

  .modal-content {
    width: 95%;
  }
}
