@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header-h1 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 200 !important;
  font-style: normal !important;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 56px;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #094d50;
  margin-bottom: 60px;
  margin-left: 0%;
}
.body,
.h3,
.h2,
.h4,
.label,
.details,
.summary,
.button,
* {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;

  /* إزالة المسافة العليا والسفلية */
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 450px;
  max-height: fit-content;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
  text-align: center; /* محاذاة النص في المركز */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal h2 {
  margin-top: 0;
  font-size: 2rem; /* زيادة حجم الخط */
  color: #1a535c;
  font-weight: 600;
}

.modal p {
  font-size: 1rem; /* حجم الخط للنص */
  margin: 10px 0; /* تباعد أعلى وأسفل */
}

.modal button {
  display: block; /* اجعل الزر عنصر كتلة */
  margin: 20px auto 0; /* توسيط الزر وإضافة مسافة بينه وبين النص */
  padding: 10px 15px; /* حشوة الأزرار */
  border: none; /* إزالة الحدود */
  border-radius: 5px; /* حواف دائرية */
  background-color: #1a535c; /* لون خلفية الزر */
  color: white; /* لون النص */
  font-size: 1rem; /* حجم الخط للزر */
  cursor: pointer; /* تغيير شكل المؤشر عند المرور فوق الزر */
  transition: background-color 0.3s; /* تأثير الانتقال عند تغيير الخلفية */
}

.modal button:hover {
  background-color: #0f3b43; /* لون خلفية الزر عند التمرير */
}
